@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #1F314F;
    font-size: 22px;
    text-align: center;
}

p {
    color: #68778D;
    font-size: 15px;
    text-align: center;
}

div.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    max-width: 340px;
    padding: 16px 16px 40px 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

div.textos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container img {
    max-width: 100%;
    margin-bottom: 24px;
    border-radius: 10px;
}
