.card{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: auto;

    background-color: var(--cards-color);
    border-radius: 20px;
    width: 330px;
    padding: 25px;
    gap: 20px;
}

.card-icon{
    font-size: 1.5rem;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
}

.title-card{
    color: var(--Heading-color);
}

.description-card{
    width: 210px;
}

.img-card{
    border-radius: 20px;
}

/*colors of card-icon*/
.card1{
    background-color: #f9ead6;
}

.card2{
    background-color: #dbe5f8;
}

.card3{
    background-color: #f1dcde;
}