@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.outfit-heading {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  font-size: 2.5rem;
}

.outfit-SmallHeading {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  font-size: 1.25rem;
}

.outfit-BodyText {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 1rem;
}