:root{
    --Azul-noturno: #121826;
    --Azul-vibrante: #263FA9;
    --cinza-claro: #E5E7EB;
    --cinza-azulado: #4D5562;
    --branco: #FFFFFF;
    --Background-light: #F8FAFC;
    --Marrom-dourado: #7C4F1E;
}