@charset "utf-8";

:root{
    --cinza-escuro: #1D1D1F;
    --cinza: #D2D5DA;
    --cinza-claro: #E5E7EB;
    --branco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
}

div.textos{
    display: flex;
    width: 100%;
    align-items: center;
}

h1{
    color: var(--branco);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 40px auto;
    margin-right: 20px;
}

span{
    color: var(--branco);
    margin: auto;
    margin-left: 0;
    background-color: var(--cinza-escuro);
    padding: 5px 12px;
    border-radius: 25px;
}


img.banner-img{
    position: absolute;
    width: 100%;
    height: 240px;
    
}

div{
    position: relative;
}

div.container{
    background-color: var(--cinza-claro);
    margin: auto 10px;
    border-radius: 15px;
    padding: 20px;
}

table.carrinho > tbody{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

tr.item{
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "img name price"
    "img color ."
    "img quant remover";
}


td.imgItem {
    grid-area: img;
    display: flex;

    width: 80px;
    height: 80px;
    padding: 10px;
    margin-right: 20px;
    background-color: var(--branco);

    border: var(--cinza) 2px solid;
    border-radius: 10px;
    box-sizing:content-box;
}

td.imgItem > img{
    margin: auto;
}

td.nameItem, td.priceItem{
    align-self: self-end;
    padding-bottom: 10px;
    font-weight: 600;
}

td.priceItem, td.removerItem{
    text-align: end;
}